# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
venv/
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE-specific
.vscode/
.idea/
